<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            height:350px;
            width:500px;
          
          border: 2px;
       ;border-style:dashed;
       border-color:black




        }
        body{
            background-color: aqua;
        }
    </style>
 
    <center><div>
        <br><br<br><br>
    <form action="/form" method="post">
        Name:<input type="text" placeholder="Name" name="name"><br><br>
		Email<input type="text" placeholder="Email" name="email"><br><br>
     Password  <input type="text" placeholder="Password" name="password"><br><br>
       <button type="submit">Submit</button>
    </form></div></center>
   
</head>
<body>
    
</body>
</html>